<% if @categories.empty? %>
  <p class="coffee-shops">Empty Wallet</p>
  <div class="loyalty-cards-container">
    <div class="empty-loyalty-card">
      <%= link_to brands_path do %>
        <%= image_tag 'cross.svg', alt: "empty-wallet-cross", class: "vector-cross"%>
      <% end %>
    </div>
  </div>

<% else %>
<% end %>
