<div class="bottom-navbar">
  <%= link_to "Rewards", to: rewards_path, class: "#{@page_rewards ? 'active' : ''}" %>
  <%= link_to "MyWallet", to: root_path, class: "#{@page_cards ? 'active' : ''}" %>
  <%= link_to "Shops", to: brands_path, class: "#{@page_brands ? 'active' : ''}" %>
  <%= link_to "Map", to: brands_map_path, class: "#{@page_brands_map ? 'active' : ''}" %>
</div>
