    <% @cards.each do |card| %>
      <div class="loyalty-card">
        <% stamps = card.stamps %>
        <% card.card_style.max_stamps.times do %>
          <div class="stamp-area">
            <p>stamp area: <%= stamps.positive? ? 'stamped' :  'empty' %> </p>
          </div>
          <% stamps -= 1%>
        <% end %>
      </div>
    <% end %>
