#classic {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
  linear-gradient(0deg, #D0DCDD, #D0DCDD);
  border: 2px solid;
  border-image-source: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
  // box-shadow: 5px 5px 10px 0px #AEAEC01A;
  // box-shadow: 2px 2px 4px 0px #FFFFFF66 inset;
  // box-shadow: -2px -2px 4px 0px #00000014 inset;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  background: #D0DCDD;
  box-shadow: 5px 5px 10px 0px rgba(174, 174, 192, 0.10), 2px 2px 4px 0px rgba(255, 255, 255, 0.40) inset, -2px -2px 4px 0px rgba(0, 0, 0, 0.08) inset;
}

#contemporary {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
  linear-gradient(0deg, #A4E9FF, #A4E9FF);
  border: 2px solid;
  border-image-source: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
  // box-shadow: 5px 5px 10px 0px #AEAEC01A;
  // box-shadow: 2px 2px 4px 0px #FFFFFF66 inset;
  // box-shadow: -2px -2px 4px 0px #00000014 inset;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  background: #A4E9FF;
  box-shadow: 5px 5px 10px 0px rgba(174, 174, 192, 0.10), 2px 2px 4px 0px rgba(255, 255, 255, 0.40) inset, -2px -2px 4px 0px rgba(0, 0, 0, 0.08) inset;
}

#elegant {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
  linear-gradient(0deg, #424242, #424242);
  border: 2px solid;
  border-image-source: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
  // box-shadow: 5px 5px 10px 0px #AEAEC01A;
  // box-shadow: 2px 2px 4px 0px #FFFFFF66 inset;
  // box-shadow: -2px -2px 4px 0px #00000014 inset;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  background: #424242;
  box-shadow: 5px 5px 10px 0px rgba(174, 174, 192, 0.10), 2px 2px 4px 0px rgba(255, 255, 255, 0.40) inset, -2px -2px 4px 0px rgba(0, 0, 0, 0.08) inset;

}

#minimalist {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
  linear-gradient(0deg, #FFA4A4, #FFA4A4);
  border: 2px solid;
  border-image-source: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
//   box-shadow: 5px 5px 10px 0px #AEAEC01A;
//   box-shadow: 2px 2px 4px 0px #FFFFFF66 inset;
//   box-shadow: -2px -2px 4px 0px #00000014 inset;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  background: #FFA4A4;
  box-shadow: 5px 5px 10px 0px rgba(174, 174, 192, 0.10), 2px 2px 4px 0px rgba(255, 255, 255, 0.40) inset, -2px -2px 4px 0px rgba(0, 0, 0, 0.08) inset;

}

// <%= card.brand.card_style.theme.downcase %>
