.card-index-body {
  border: solid 3px green;
  margin-left: 30%;
  margin-right: 30%;
}

.card-heading {
  font-family: Lexend Giga;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
}


.loyalty-cards-container {
  width: 283px;
  height: 457px;
  top: 249px;
  left: 73px;
  border-radius: 46px;
  border: 1px;
  background: #F0F0F3;
  border: 1px solid #F0F0F3;
  box-shadow: 0px 4px 4px 0px #00000099;
  box-shadow: 0px -1px 4px 0px #00000040;


}

.loyalty-card {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 300px;
  margin: auto;
}

.stamp-area {
  width: 20%;
  border: solid 3px red;
  flex-shrink:none;
  height: 150px;
}
