.card-index-body {
  width: 430px;
  height: 932px;
  margin: auto;
  border: 1px solid #F0F0F3;

}

.logo-and-wallet {
  background-image: url(../app/assets/images/logo_v.svg);
}

.wallet-title {
font-family: Lexend Giga;
font-size: 26px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: center;
}

.coffee-shops {
  font-family: Lexend Exa;
  font-size: 14px;
  font-weight: 400;
  text-align: center;

}

.fa-plus {
  width: 56px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  color: #A3ADB299;

}

.loyalty-cards-container {
  display: flex;
  margin: 0px auto 100px auto;
  max-width: 1000px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  position: relative;
  padding: 10px;

}



.brand-name {
  margin-left: 6px;
  font-family: Lexend Exa;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #6C7276;
  text-shadow: 0px 4px 1.5px 0px #00000014;



}


.user-date {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding-left: 6px;
  padding-right: 6px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #6C7276;
  text-shadow: 0px 4px 4px 0px #0000000D;

}
