$card-height: 182px;
$card-offset: ($card-height * 0.75);

.loyalty-card {
  background-color: transparent;
  width: 95%;
  height: 25vh;
  perspective: 1000px;
  margin-bottom: -19.5vh;
  transition: margin .3s ease;
  padding: 2%;
  &.focus {
    order: -1;
    margin-bottom: 2%;
    height: 25vh !important;
  }
}

.loyalty-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.loyalty-card.flipped .loyalty-card-inner {
  transform: rotateY(180deg);
}

.loyalty-card-front, .loyalty-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.loyalty-card-front {

  border-radius: 20px;
  box-shadow: 1px -1px 0px 1px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
  linear-gradient(0deg, #A4E9FF, #A4E9FF);
  // position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loyalty-card-back {
  // border-radius: 20px;
  // border: solid 2px white;
  // margin: auto;
  // background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
  // linear-gradient(0deg, #A4E9FF, #A4E9FF);
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // -webkit-backface-visibility: hidden; /* Safari */
  // backface-visibility: hidden;
  // transform: rotate(180deg);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: solid 2px white;
  background: #FFA4A4,


}

.stamp-area {
  width: 92%;
  height: 70%;
  top: 204px;
  left: 48px;
  border-radius: 46px;
  border: 1px;
  border: 1px solid #A3ADB2;
  margin-bottom: 1%;
  margin-left: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
  padding-top: 3%;
  .fa-circle, .fa-circle-xmark, .fa-mug-hot {
    width: 22%;
    height: 20%;
    border: 1%;
    padding-top: 5%;
    font-size: 3.5em;
  }

  .stamp {
    display: block;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;
    margin-bottom: 2%;
    img {
      width: 40%;
      height: 40%;
      opacity: 0;
      transition: opacity .3s ease;
      object-fit: contain;
    }
    &.stamped {
      img {
        opacity: .6;
      }
    }
  }
}
