// .rewards-title {
//   color: #546E7A;
//   text-shadow: 0px 4px 1.2999999523162842px rgba(0, 0, 0, 0.10);
//   font-family: Lexend Giga;
//   font-size: 26px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: normal;
//   text-align: center;
//   z-index: 5;
//   // margin-top: 2vh;
// }
.reward-card {
  margin-bottom: 30px;
}

.no-reward-message h2 {
  color: #546E7A;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-top: 24%;
}

.reward-message{
  color: #41555f;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  // margin: -100px auto;
  padding: unset;
  z-index: 2;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  background: #F0F0F3;
  font-size: 14px;
  box-shadow: 5px 5px 10px 0px rgba(174, 174, 192, 0.10), 2px 2px 4px 0px rgba(255, 255, 255, 0.40) inset, -2px -2px 4px 0px rgba(0, 0, 0, 0.08) inset;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 80%;
  a {
    text-decoration: none;
    color: #546E7A;
    margin: 0;
    margin-top: 13%;
  }
  p {
    margin: 0;
  }
  .fa-solid {
    color: #546E7A;
    margin-top: 14%;
    margin-left: 2%;
  }
}
.reward-brand-name {
  position: relative;
  height: 200px !important;
  // color: #41555f;
  width: 90%;
  margin: 0 auto !important;
}
.stats-title {
  margin-bottom: -30px;
  margin-top: 30px;
}
.confetti-img {
  width: 300px;
}
.fa-solid {
  margin: 0 auto;
}
.fa-circle {
  margin-right: 5px;
}
.rewards {
  margin-top: 25%;
  margin-bottom: 30%;
}
.set-height {
  height: 15vh;
}

.qrprompt {
  background-color: grey !important;
  opacity: 90% !important;
}

.prompt.qr {
  .inner {
    width: 343.519px;
    height: 452.443px;
    position: fixed;
    top: 20%;
    z-index: 5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.7));
    // border: 24px solid red;
    .prompt-image {
      position: relative;
      width: 100%;
      height: 100%;
      top: unset;
    }
  }
}

.qr-code {
  z-index: 5;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 90%;
  h1 {
    color: #000;
    font-family: Lexend Giga;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
}
// .reward-brand-name.gold {
//   background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
//   linear-gradient(0deg, #e5d060, #e5d060);
//   border: 2px solid;
//   border-image-source: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
//   box-shadow: 5px 5px 10px 0px #AEAEC01A;
//   box-shadow: 2px 2px 4px 0px #FFFFFF66 inset;
//   box-shadow: -2px -2px 4px 0px #00000014 inset;
// }

// .reward-brand-name.red {
//   background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
//   linear-gradient(0deg, #c34d4d, #c34d4d);
//   border: 2px solid;
//   border-image-source: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
//   box-shadow: 5px 5px 10px 0px #AEAEC01A;
//   box-shadow: 2px 2px 4px 0px #FFFFFF66 inset;
//   box-shadow: -2px -2px 4px 0px #00000014 inset;
// }

// .reward-brand-name.sky-blue {
//   background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
//   linear-gradient(0deg, #9ae6fe, #9ae6fe);
//   border: 2px solid;
//   border-image-source: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
//   box-shadow: 5px 5px 10px 0px #AEAEC01A;
//   box-shadow: 2px 2px 4px 0px #FFFFFF66 inset;
//   box-shadow: -2px -2px 4px 0px #00000014 inset;
// }

// .reward-brand-name.grass {
//   background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
//   linear-gradient(0deg, #bff9bb, #bff9bb);
//   border: 2px solid;
//   border-image-source: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
//   box-shadow: 5px 5px 10px 0px #AEAEC01A;
//   box-shadow: 2px 2px 4px 0px #FFFFFF66 inset;
//   box-shadow: -2px -2px 4px 0px #00000014 inset;
// }

// // <%= card.brand.card_styles[0].theme.downcase %>
// .reward-brand-name.navy-blue {
//   background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
//   linear-gradient(0deg, #2d538b, #2d538b);
//   border: 2px solid;
//   border-image-source: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
//   box-shadow: 5px 5px 10px 0px #AEAEC01A;
//   box-shadow: 2px 2px 4px 0px #FFFFFF66 inset;
//   box-shadow: -2px -2px 4px 0px #00000014 inset;
// }

// .reward-brand-name.purple {
//   background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
//   linear-gradient(0deg, #4a2a89, #4a2a89);
//   border: 2px solid;
//   border-image-source: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
//   box-shadow: 5px 5px 10px 0px #AEAEC01A;
//   box-shadow: 2px 2px 4px 0px #FFFFFF66 inset;
//   box-shadow: -2px -2px 4px 0px #00000014 inset;
// }

// .reward-brand-name.silver {
//   background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
//   linear-gradient(0deg, #dcdcdc, #dcdcdc);
//   border: 2px solid;
//   border-image-source: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
//   box-shadow: 5px 5px 10px 0px #AEAEC01A;
//   box-shadow: 2px 2px 4px 0px #FFFFFF66 inset;
//   box-shadow: -2px -2px 4px 0px #00000014 inset;
// }

// .reward-brand-name.space-grey {
//   background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
//   linear-gradient(0deg, #555555, #555555);
//   border: 2px solid;
//   border-image-source: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
//   box-shadow: 5px 5px 10px 0px #AEAEC01A;
//   box-shadow: 2px 2px 4px 0px #FFFFFF66 inset;
//   box-shadow: -2px -2px 4px 0px #00000014 inset;
// }
// .reward-brand-name.coral {
//   background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%),
//   linear-gradient(0deg, #ff9e9e, #ff9e9e);
//   border: 2px solid;
//   border-image-source: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
//   box-shadow: 5px 5px 10px 0px #AEAEC01A;
//   box-shadow: 2px 2px 4px 0px #FFFFFF66 inset;
//   box-shadow: -2px -2px 4px 0px #00000014 inset;
// }
