.rewards-title {
  color: #000;
  text-shadow: 0px 4px 1.2999999523162842px rgba(0, 0, 0, 0.10);
  font-family: Lexend Giga;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: fixed;
  top: 14%;
  left: 50%;
  transform: translate(-50%, 0%);
}
