.profile-page-heading {
  width: 92%;
  margin: auto;
}

.general-info {
  width: 92%;
  margin: auto;
  margin-top: 5%;
}

.profile-boxes-container {
  width: 92%;
  margin: auto;
  margin-top: 5%;
  display: flex;
}
