<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid m-4">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "vloyal-logo.svg" %>
    <% end %>

    <button style="padding-top: 6px; padding-bottom: 6px; width: 40px;" id="settings" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-gear"></i>
    </button>

    <div class="collapse navbar-collapse settings-list" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_registration_path(resource_name), class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>
