<div class="qr-code">
<h1>QR Code Scanner</h1>

<div data-controller="basic-qr-code-reader" data-basic-qr-code-reader-user-value='<%= current_user.id %>'>
<div>
  <video id="video" width="430" height="500"></video>
</div>

<%# <label>Result:</label> %>
<pre><code data-basic-qr-code-reader-target="result"></code></pre>
</div>
</div>
