.direction-link {
  font-size: 20px;
  font-style: normal;
  border-radius: 24px;
  width: 50%;
  text-align: center;
  padding: 12px;
  margin: 0px auto;
  margin-top: 12px;
  box-shadow: 2px 5px 5px #888888;
  background-color: #A4E9FF;
}

.direction-link-button {
  font-weight: 400;
  text-decoration: none;
  font-family: 'Lexend Exa';
  color: #1a1919;
}

.shop-detail {
  h4 {
    font-weight: bold;
    padding: 0px;
    display: flex;
  }
}

.shop-info {
  h1 {
    font-weight: bold;
  }
  display: block;
  text-align: center;
  // background-image: url(assets/images/main-v.png);
}

.phone-num {

  margin-left: 4px;
  text-align: center;
  margin-top: 2px;
  font-size: 16px;

}

.shop-address {
  text-align: start;
  font-size: 16px;
  margin-left: 12px;
}

.address,
.phone {
  display: block;
}
