.direction-link {
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  background-color: black;
  padding: 24px;
  border-radius: 16px;
}

.shop-detail {
  h4 {
    font-weight: bold;
    padding: 0px;
    display: flex;
  }

  .phone {
    display: flex;

  }

  .address {
    display: flex;

  }

  .open-time {
    font-size: 16px;
    text-align: start;
  }
}

.shop-info {
  h1 {
    font-weight: bold;
  }

  display: block;
  text-align: center;
}

.direction-link {
  text-align: center;
  width: 100%;
  margin-top: 32px;
}

.phone-num {

  margin-left: 4px;
  text-align: center;
  margin-top: 2px;
  font-size: 16px;

}

.shop-address {
  text-align: start;
  font-size: 16px;
  margin-left: 12px;
}
