.direction-link {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  background-color: black;
  border-radius: 24px;
  width: 50%;
  text-align: center;
  padding: 12px;
  margin: 0px auto;

}

.shop-detail {
  h4 {
    font-weight: bold;
    padding: 0px;
    display: flex;
  }
}

.shop-info {
  h1 {
    font-weight: bold;
  }

  display: block;
  text-align: center;
}


.phone-num {

  margin-left: 4px;
  text-align: center;
  margin-top: 2px;
  font-size: 16px;

}

.shop-address {
  text-align: start;
  font-size: 16px;
  margin-left: 12px;
}

.address,
.phone {
  display: block;
}
