.brand-menu-form {
  max-height: 350px;
  overflow-y: scroll;
  // border: 2px solid red;
  margin-bottom: 10px;
  box-shadow: inset 0px 0px 3px 2px rgba($color: black, $alpha: 0.2);
  // .seperator {
  //   width: 80%;
  //   height: 2px;
  //   background: gray;
  //   margin: 0 auto;
  //   opacity: 0.7;
  // }
  .item-group {
    border: 1px solid rgba($color: black, $alpha: 0.2);
    width: 60%;
    padding: 10px;
    padding-right: 15px;
    margin: 15px;
  }
}
