// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import 'brands';
@import "login";
@import "direction_button";
@import "bottom_navbar";
@import "signup";

body {
  background-color: #F8F8F8;
}
