.login-header {
  color:#546E7A;
  font-family: Lexend Giga;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 14%;
  transform: translate(-50%, 0);
  text-shadow: 0px 4px 1.2999999523162842px rgba(0, 0, 0, 0.10);

}

.main-image {
  width: 100%;
  position: fixed;
  left: 50%;
  top: 20%;
  z-index: -100;
  transform: translate(-50%);
}

.login-container {
  margin: auto 36px;
}

.btn-style {
  color: #5CD8E5;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  background: #F8FAFC;
  margin-top: 25%;
  margin-bottom: 5%;
  box-shadow: 4px 4px 12px 0px rgba(187, 195, 206, 0.60), -4px -4px 12px 0px rgba(253, 255, 255, 0.80);
}

.signin-btn {
  border-radius: 16px;
  background: #5CD8E5;
  box-shadow: 4px 4px 12px 0px rgba(187, 195, 206, 0.60), -4px -4px 12px 0px rgba(253, 255, 255, 0.50);
  border-radius: 16px;
  color: #fff;
  padding: 12px 30px;
  margin-top: 30px;
}

.new-here-div {
  margin-top: 40px;
}

.create-account-txt, .new-here {
  color: #546E7A;
  font-family: Lexend Giga;
  text-align: center;
}

.create-account-txt {
  text-decoration: none;
  font-weight: 700;
}

.forgot-password-txt {
  font-size: 14px;

  a {
    text-decoration: none;
    color: #546E7A;
  }
}
.email-form {
  display: flex;
  width: 300px;
  height: 48px;
  padding: 16px 219px 16px 16px;
  margin: 30px auto;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(0deg, #F8FAFC 0%, #F8FAFC 100%), #CFD8DC;
  box-shadow: 4px 4px 12px 0px rgba(187, 195, 206, 0.60) inset, -4px -4px 12px 0px rgba(253, 255, 255, 0.80) inset;
}
