.mapboxgl-popup {
  max-width: 400px;
}

.mapboxgl-popup-content {
  // text-align: center;
  // font-family: "Open Sans", sans-serif;
  // color: #000;
  background: #fff;
  border-radius: 10px !important;
  // box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  padding: 10px 10px 15px;
  pointer-events: auto;
  position: relative;
  color: rgb(32, 29, 29);
  border-radius: 10px;
  margin-top: px;
  font-family: 'Lexend Exa';
  box-shadow: 2px 5px rgba(0, 0, 0, 0.5) !important;
}

.map-div {
  width: 94%;
  height: 100%;
  border-radius: 20px;
  margin: 0px auto;
  // padding: 12px;
  border: 2px;
  box-shadow: 0px 2px 13.1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.30);
}

.map-logo {
  width: 100%;
  height: 40px;
  transition: 1.5s;

  &:hover {
    -ms-transform: scale(4.2);
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
  }
}

.map-button {
  border-radius: 30%;
}

.mapboxgl-popup-close-button {
  font-size: 22px;
  line-height: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #000;
  font-weight: bold;
  margin-left: 10px;
  font-family: lexend exa;
}

.brand-image {
  border-radius: 12px;
}

.brand-description {
  font-size: 16px;
  font-family: 'Montserrat';

}
