.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}

#settings {
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  background: #F0F0F3;
  box-shadow: 4px 4px 12px 0px rgba(187, 195, 206, 0.60), -4px -4px 12px 0px rgba(253, 255, 255, 0.80);
}

.fa-gear {
  color: #546E7A;
}

.settings-list {
  position: relative;
  left: 85%;
}
